.board {
    width: 400px;
    height: 400px;
    border: 2px solid var(--oc-gray-4);
    margin: 1em 2em 2em 1em;
    display: flex;
    flex-wrap: wrap;
  }

  .board div {
    width: 10%;
    height: 10%;
    box-sizing: border-box;
    background: grey;
    border: 1px solid rgba(171, 162, 162, 0.372);
    cursor: crosshair;
    transition: background-color 100ms ease-in-out;
  }

  @keyframes pulse {
    0% {
      box-shadow: 0px 0px 20px 10px #48abe0;
    }
    50% {
      box-shadow: 0px 0px 20px 10px blueviolet;
    }
    75% {
      box-shadow: 0px 0px 20px 10px rebeccapurple;
    }
    100% {
      box-shadow: 0px 0px 20px 10px #48abe0;
    }
  }

  .board.turn {
    animation: pulse 1.5s infinite;
  }