/* Grid Square */
.gridSquare {
    border-style: solid;
    width: 20px;
    height: 20px;
  }

  @keyframes skew-y-shake{
    0% { transform: skewY(-15deg); }
    5% { transform: skewY(15deg); }
    10% { transform: skewY(-15deg); }
    15% { transform: skewY(15deg); }
    20% { transform: skewY(0deg); }
    100% { transform: skewY(0deg); }
   }

  @keyframes grow-shrink {
    0% {transform: scale(1);}
    50% {transform: scale(1.5);}
    100% {transform: scale(1);}
  }

  .gridSquare.empty {
    background-color: grey;
  }

  .gridSquare.empty:hover {
    background-color: rgba(255, 255, 0, 0.521);
  }

  .gridSquare.ship {
    background-color: indigo;
  }

  .gridSquare.ship:hover {
    background-color: rgba(76, 0, 130, 0.2)
  }

  .gridSquare.hit {
    background-color: red;
    animation: skew-y-shake 1s;
  animation-iteration-count: 1;
  }

  .gridSquare.miss {
    background-color: rgb(60, 58, 58);
  }

  .gridSquare.sunk {
    background-color: rgb(68, 15, 15);
    animation: grow-shrink 1s;
    animation-iteration-count: 1;
  }

  .gridSquare.forbidden {
    background-color: rgb(209, 116, 116)
  }